.container {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;

  /* Center semua konten */
  display: flex;
  align-items: center;
  justify-content: center;

  &.active {
    .icon_wrap {
      opacity: 1;
    }
  }
}

.good {
  background-color: #2d67f6;

  .bar {
    stroke: #2d67f6;
  }
}

.bad {
  background-color: #f44336;

  .bar {
    stroke: #f44336;
  }
}

.circle_wrap {
  position: relative;
  font-size: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  .circle_progress {
    transform: rotate(-90deg);
  }

  .bar {
    fill: none;
    stroke: #e6e6e6;
    opacity: 1;
    stroke-linecap: round;
    stroke-width: 6px;
    transition: opacity 0.4s ease-out;
  }
}

.icon_wrap {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s ease-out;

  .icon_good {
    width: 40px;
    height: 40px;
    margin-top: -5px;
  }

  .icon_bad {
    width: 40px;
    height: 40px;
    margin-top: 0px;
  }
}

.label_left,
.label_right {
  font-size: 24px; /* lebih besar */
  font-weight: 700; /* lebih tebal */
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
}

.label_left {
  right: 100%;
  margin-right: 8px;
}

.label_right {
  left: 100%;
  margin-left: 8px;
}

.label_left,
.label_right {
  opacity: 0;
  transition: opacity 0.4s ease-out;
  -webkit-transition: opacity 0.4s ease-out;
  -moz-transition: opacity 0.4s ease-out;
  -ms-transition: opacity 0.4s ease-out;
  -o-transition: opacity 0.4s ease-out;
}

.active .label_left,
.active .label_right {
  opacity: 1;
}

.center_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  margin-top: 12px; /* jarak antara lingkaran dan teks */
}
